* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f5f2eb;
  color: #111111;
}

/* ── NAVBAR ── */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  height: 68px;
  background: #ffffff;
  border-bottom: 1px solid #e0dbd0;
}

.logo {
  font-size: 1.3rem;
  font-weight: 800;
  text-decoration: none;
  color: #111111;
}

.logo span {
  color: #ffcf68;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #666666;
  font-size: 0.9rem;
  font-weight: 500;
}

.nav-links a:hover {
  color: #ffcf68;
}
